<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>sell!t</title>
    <!--  BootStrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- Css Style Sheets -->
    <link rel="stylesheet" href="css/styles.css" />
    <!-- <link
      rel="stylesheet"
      media="screen and (max-device-width: 820px)"
      href="css/styles-small-screen.css"
    /> -->
    <!-- Google -->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,900|Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/65173ca4d8.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section id="title">
      <!-- Nav Bar -->
      <div class="container-fluid first-section">
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand brand" href="">sell!t</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item nav-collapse">
                <a href="/login" class="hover-a">
                  Login
                </a>
              </li>
              <li class="nav-item nav-collapse">
                <a href="/register" class="hover-a">
                  Register
                </a>
              </li>
              <li class="nav-item nav-collapse">
                <a href="/seller-login" class="hover-a">
                  Sell
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <!-- Title -->

        <div class="row small-scr">
          <div class="col-lg-6">
            <h1>Act now, make your Auction !</h1>
            <button class="btn btn-dark btn-lg download-btn1" type="button">
              <i class="fab fa-apple"></i> Download
            </button>
            <button
              class="btn btn-outline-light btn-lg download-btn2"
              type="button"
            >
              <i class="fab fa-google-play"></i> Download
            </button>
          </div>

          <div class="col-lg-6">
            <img class="dog-pic" src="images/trust4.png" alt="iphone-mockup" />
          </div>
        </div>
      </div>
    </section>

    <!-- Features -->

    <section id="features">
      <div class="container-fluid second-section">
        <div class="row">
          <div class="col-lg-4 col-md-12 first-col">
            <i class="fas fa-check-circle"></i>
            <h3>Easy to use.</h3>
            <p class="second-section-p">
              Selling and buying just few touches away.
            </p>
          </div>
          <div class="col-lg-4 col-md-12 second-col">
            <i class="far fa-dot-circle"></i>
            <h3>Elite Clientele</h3>
            <p class="second-section-p">
              We have the most trustworthy clients.
            </p>
          </div>

          <div class="col-lg-4 col-md-12 third-col">
            <i class="fas fa-heart"></i>
            <h3>Safe to work with.</h3>
            <p class="second-section-p">Find the best buy with best price.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials Seller -->

    <section class="testimonials">
      <h2 style="padding-top: 5%">Happy Sellers</h2>
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-ride="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2>
              Easy to register and sell. sell!t makes the whole operation pretty
              damn easy!
            </h2>
            <img
              class="testimonial-pic"
              src="images/client.jpg"
              alt="dog-profile"
            />
            <em>Pebbles, New York</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">
              I sold my product for a good solid price. Also I would rate their
              service ⭐⭐⭐⭐⭐.
            </h2>
            <img
              class="testimonial-pic"
              src="images/lady-img.jpg"
              alt="lady-profile"
            />
            <em>Beverly, Illinois</em>
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </section>

    <br />

    <!-- Buyers -->

    <section class="testimonials">
      <h2 style="padding-top: 5%">Happy Buyers</h2>
      <div
        id="carouselExampleControls2"
        class="carousel slide"
        data-ride="false"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h2>
              Their thorough background check up of sellers ensures security and
              makes them trustworthy.
            </h2>
            <img
              class="testimonial-pic"
              src="images/buyer1.jpg"
              alt="dog-profile"
            />
            <em>Leonard, Texas</em>
          </div>
          <div class="carousel-item">
            <h2 class="testimonial-text">
              Recieved the product before the expected date. The UI is smooth as
              butter and very user friendly.
            </h2>
            <img
              class="testimonial-pic"
              src="images/buyer2.jpg"
              alt="lady-profile"
            />
            <em>Mo Salah, Cairo</em>
          </div>
        </div>

        <a
          class="carousel-control-prev"
          href="#carouselExampleControls2"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls2"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </section>

    <!-- Press -->

    <section id="press">
      <img class="press-logo" src="images/techcrunch.png" alt="tc-logo" />
      <img class="press-logo" src="images/tnw.png" alt="tnw-logo" />
      <img
        class="press-logo"
        src="images/bizinsider.png"
        alt="biz-insider-logo"
      />
      <img class="press-logo" src="images/mashable.png" alt="mashable-logo" />
    </section>

    <!-- Call to Action -->

    <section id="cta">
      <div class="cta-div">
        <h3 id="cta-h3">Let the auction begins.</h3>
        <button class="btn btn-dark btn-lg download-btn1" type="button">
          <a href="/login" style="color: white; text-decoration: none">Login</a>
        </button>

        <a href="/register">
          <button
            class="btn btn-outline-light btn-lg download-btn2"
            type="button"
          >Register</button>
        </a>
      </div>
    </section>

    <!-- Footer -->
    <div class="foot">
      <footer id="footer">
        <i class="footer-icons fab fa-twitter"></i>
        <i class="footer-icons fab fa-facebook-f"></i>
        <i class="footer-icons fab fa-instagram"></i>
        <i class="footer-icons far fa-envelope"></i>
        <p>© Copyright 2020 sell!t</p>
      </footer>
    </div>
  </body>
</html>
